*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/* Couleurs */
--primary: #1B1B1B;
--secondary: #FFD15B;
--background: #ededed;
--background_card: #fff;
--quantity_card: #7A7A7A;
--keypoint_card: #7A7A7A;
--time_recipe: #FFD15B;
--background_dropdown: #fff;
--searchbar_dropdown : #C6C6C6;
--background_tag: #FFD15B;
}

/*** Modifs général ***/
h1, h2, h3 {
    font-family: "Anton", sans-serif;
}

/*** Modifs body ***/
body {
    font-family: "Manrope", sans-serif;
    background-color: var(--background);
}

/*** Modifs header ***/
header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/img_header.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

header h1 {
    color: var(--secondary);
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 20px;
}

.logo {
    position: absolute;
    width: 200px;
    top: 40px;
    left: 40px;
}

.container_header {
    padding: 200px 0px;
}

/* barre de recherche */
.search_container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#search_bar {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 11px;
}

.btn_searchbar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 14px;
    border: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.btn_searchbar:hover {
    background-color: var(--secondary);
}

/*** Modifs container principal (dropdown, total recettes, recettes) ***/
.container-main {
    margin: auto;
}

/*** Modifs container total recettes + dropdown ***/
.dropdown-totalRecettes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 40px 0px 40px;
}

/*** Modifs compteurs de recettes ***/
#nombre_recettes {
    font-family: "Anton", sans-serif;
    font-size: 1.3em;
}

/*** Modifs recettes ***/
#recettes_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}

.recettes {
    position: relative;
    width: 380px;
    height: 730px;
    background-color: var(--background_card);
    border-radius: 21px;
    margin-bottom: 20px;
    overflow: hidden;
}

.recettes img {
    width: 380px;
    height: 250px;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;
}

.recettes_textpart {
    padding: 25px;
}

.time_recette {
    position: absolute;
    margin: 21px 0px 0px 295px;
    background-color: var(--time_recipe);
    padding: 5px 15px 5px 15px;
    border-radius: 14px;
    font-size: 0.75em;
}

.recettes h2 {
    font-size: 1.1em;
}

.recettes p {
    font-size: 0.9em;
}

.keypoint_recette {
    font-size: 0.75em;
    color: var(--keypoint_card);
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 30px 0px 15px 0px;
}

/*** Dropdown ***/
/* Container du dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 60px;
  }
  
  /* Bouton du dropdown */
  .dropdown-btn {
    background-color: var(--background_dropdown);
    color: var(--primary);
    padding: 17px 16px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  
  /* Style de la flèche */
  .arrow {
    margin-left: 50px;
    font-size: 16px;
    transition: transform 0.5s;
  }

  /* Classe "rotate" pour le js qui applique la rotation */
  .arrow.rotate {
    transform: rotate(180deg);
  }
  
  /* Contenu du dropdown caché par défaut */
  .dropdown-content {
    display: none;
    position: absolute;
    padding-bottom: 10px;
    background-color: var(--background_dropdown);
    border: none;
    border-radius: 0px 0px 11px 11px;
    width: 100%;
    z-index: 1;
    margin-top: -10px;
  }

  .liste-itemDropdown {
    max-height: 200px;
    overflow-y: auto; /* Ajoute une barre de défilement verticale */
  }

  /* Classe "show" pour le js qui affiche et cache le dropdown au clic */
  .dropdown-content.show {
    display: block;
  }

  /* Barre de recherche */
  .search-container {
    max-width: 93%;
    position: relative;
  }

  .search-bar {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin: 16px;
    border: 1px solid var(--searchbar_dropdown);
    border-radius: 2px;
    font-size: 14px;
    color: var(--searchbar_dropdown);
    caret-color: var(--searchbar_dropdown);
  }

  .search-bar:focus {
    outline: none;
  }

  /* Icône de loupe */
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--searchbar_dropdown);
    pointer-events: none; /* Pour cliquer à travers l'icône */
  }
  
  /* Style de la liste */
  .dropdown-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-content ul li {
    padding: 6px 0px 6px 16px;
    font-size: 14px;
    color: var(--primary);
    cursor: pointer;
  }
  
  .dropdown-content ul li:hover {
    background-color: var(--secondary);
  }

  /*** Tags ***/
  .tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin-left: 40px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

  .tag-style {
    background-color: var(--background_tag);
    color: var(--primary);
    padding: 14px 16px;
    border-radius: 10px;
}

.remove-tag {
    margin-left: 40px;
    background: none;
    border: none;
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}